// -----------------------------------------------------------------------------------

// 	variables.less

// -----------------------------------------------------------------------------------


//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #88ddd6;

$link-color: 					#88ddd6;

$link-focus-color: 				#88ddd6;

