// -----------------------------------------------------------------------------------

// 	variables.less

// -----------------------------------------------------------------------------------


//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #4e4ada;

$link-color: 					#4e4ada;

$link-focus-color: 				#4e4ada;

