// -----------------------------------------------------------------------------------

// 	_variables.scss

// -----------------------------------------------------------------------------------


//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #425cbb;
$theme-color-2:                 #1af28f;

$body-color:                    #999;

$dark-color:					#333;

$link-color: 					#425cbb;
$link-hover-color: 				#222;
$link-focus-color: 				#425cbb;

$heading-color:                 #333;

$highlight-color:		 		#333;
$highlight-bg-color: 			#c0eaf5;


//  ----------------------------------------------------------------
// 	Skins Control
// -----------------------------------------------------------------

// @import "skins/_skin-red";


//  ----------------------------------------------------------------
// 	Line Height Variables
// -----------------------------------------------------------------

$line-height-base:              1.7;
$line-height-content:           1.8;
$line-height-heading:           1.55;


//  ----------------------------------------------------------------
// 	Font Families
// -----------------------------------------------------------------

$body-font:                     "Lora", "Cairo", sans-serif;
$heading-font:                  "Montserrat", "Droid Arabic Kufi", sans-serif;
$secondary-font:                "Montserrat", "Droid Arabic Kufi", sans-serif;


//  ----------------------------------------------------------------
// 	Font Sizes
// -----------------------------------------------------------------

$font-size-base:                14px;
$font-size-h1:                  33px;
$font-size-h2:                  28px;
$font-size-h3:                  23px;
$font-size-h4:                  18px;
$font-size-h5:                  15px;
$font-size-h6:                  12px;
